### 
## @Github: https://github.com/Certseeds/github_user_detail_vue3
## @Organization: SUSTech
## @Author: nanoseeds
## @Date: 2021-01-02 00:23:17
## @LastEditors: nanoseeds
## @LastEditTime: 2021-01-02 01:24:25
### 
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
